// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

  .slide-btn{
    display: none !important;
  }
  
}
// //********* M- HEADING ****************//
#list {
  text-transform: capitalize;
  color: white;

  font-family: "Poppins", sans-serif;
  // font-family: 'Roboto', sans-serif;
}

.list__text {
  font-weight: 400;
  font-size: 1rem;

  &__title {
    color: red;
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 3rem;
    span {
      color: white;
      font-size: 2rem;
      text-transform: capitalize;
    }
  }
}

.movies {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // //********* ALL-CHILD-CARD ****************//
  & > * {
    height: 18rem;
    width: 12rem;
    margin-right: 3.5rem;
  }

  .card {
    width: 12rem;
    height: inherit;
    border-radius: 10px;
    transition: all .3s ease;
    &:hover{
      transform: scale(0.95);
    }
    img{
      border-radius: inherit;
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
    
  }
  
  &::-webkit-scrollbar {
    display: none;
    overflow: hidden !important;
  }
}

//**********************
#slide-btn{
  background-color: black;
    outline: none;
    font-weight: 700;
    padding: .5rem 1rem;
    margin: 1rem;
    border: 1px solid white
}

.slide{
  background-color: black;
  outline: none;
  font-weight: 700;
  padding: .5rem 1rem;
  margin: 1rem;
  border: 1px solid white
}