@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Poppins:wght@200;300;400&family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: black !important;
  font-family: "Roboto", sans-serif;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.navbar {
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 580;
}

#searchbar {
  border: 1px solid #494848;
  background-color: transparent;
  border: border;
  border-radius: 1rem;
  outline: none;
}

#intro {
  -webkit-box-shadow: inset 0px -10px 8px -10px rgba(24, 23, 23, 0.918);
          box-shadow: inset 0px -10px 8px -10px rgba(24, 23, 23, 0.918);
}

.intro {
  width: 100%;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}

.intro__img {
  height: inherit;
  width: 100%;
  height: 32rem;
}

.intro__img img {
  width: inherit;
  height: inherit;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__text {
  position: absolute;
  bottom: 4.5rem;
  left: 3rem;
  font-family: "Roboto", sans-serif;
}

.intro__text__title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4.5rem;
}

.intro__text__para {
  font-weight: 400;
  text-transform: capitalize;
  opacity: 0.7;
  font-size: 0.8rem;
}

@media (max-width: 768.98px) {
  .intro__text {
    position: absolute;
    bottom: 2rem;
    left: 0.5rem;
    font-family: "Roboto", sans-serif;
  }
  .intro__text__title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 4rem;
  }
  .intro__text__para {
    font-weight: 500;
    text-transform: capitalize;
    opacity: 0.7;
    font-size: 0.8rem;
  }
}

#list {
  text-transform: capitalize;
  color: white;
  font-family: "Poppins", sans-serif;
}

.list__text {
  font-weight: 400;
  font-size: 1rem;
}

.list__text__title {
  color: red;
  font-size: 0.9rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3rem;
}

.list__text__title span {
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
}

.movies {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movies > * {
  height: 18rem;
  width: 12rem;
  margin-right: 2rem;
}

.movies .card {
  width: 12rem;
  height: inherit;
}

.movies::-webkit-scrollbar {
  display: none;
  overflow: hidden !important;
}

@media (min-width: 1199.98px) {
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #85858569;
  }
  *::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(219, 219, 219, 0.404);
  }
  *::-webkit-scrollbar-thumb {
    background-color: #cc0b0b;
    border: 1px solid #550000;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=main.css.map */